In [142]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [143]:
df = pd.read_csv('car_data.csv')
df.head(3)

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0

In [144]:
df.isna().count()
#no

Car_Name         301
Year             301
Selling_Price    301
Present_Price    301
Driven_kms       301
Fuel_Type        301
Selling_type     301
Transmission     301
Owner            301
dtype: int64

In [145]:
df = df.drop("Car_Name", axis = 1)

In [146]:
df = pd.get_dummies(df, columns=['Selling_type', 'Fuel_Type', 'Transmission'], dtype = 'int')

In [147]:
df.head(3)

,Year,Selling_Price,Present_Price,Driven_kms,Owner,Selling_type_Dealer,Selling_type_Individual,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,2014,3.35,5.59,27000,0,1,0,0,0,1,0,1
1,2013,4.75,9.54,43000,0,1,0,0,1,0,0,1
2,2017,7.25,9.85,6900,0,1,0,0,0,1,0,1

In [148]:
x = df.drop('Selling_Price', axis = 1)
y = df['Selling_Price']

In [149]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [150]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [151]:
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(x_train,y_train)

RandomForestRegressor(random_state=42)

In [152]:
y_pred = model.predict(x_test)

In [153]:
#accuracy
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Squared Error: 0.8405952734426225
R-squared: 0.963508836830157

In [154]:
# Parameters :- 
# Year, Present_Price, Driven_kms, Owner, Selling_type_Dealer, Selling_type_Individual,
# Fuel_Type_CNG, Fuel_Type_Diesel, Fuel_Type_Petrol, Transmission_Automatic, Transmission_Manual

new_car_features = np.array([2015,5,12000,0,1,0,0,1,0,1,0]) 
predicted_price = model.predict([new_car_features])
print(f'Predicted Selling Price: {predicted_price[0]} Lakhs')

Predicted Selling Price: 3.5160000000000013 Lakhs

C:\Users\risha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(