In [164]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [165]:
df = pd.read_csv('Iris.csv')

In [166]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [167]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [168]:
df = df.drop(["Id"],axis=1)

In [169]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [170]:
species_map = {'Iris-setosa':1,'Iris-versicolor':2,'Iris-virginica':3}

In [171]:
df["Target"] = df["Species"].map(species_map)

In [172]:
df.tail()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Target
145,6.7,3.0,5.2,2.3,Iris-virginica,3
146,6.3,2.5,5.0,1.9,Iris-virginica,3
147,6.5,3.0,5.2,2.0,Iris-virginica,3
148,6.2,3.4,5.4,2.3,Iris-virginica,3
149,5.9,3.0,5.1,1.8,Iris-virginica,3

In [173]:
#Train-Test_Split

In [174]:
from sklearn.model_selection import train_test_split

In [175]:
df_train, df_test = train_test_split(df, test_size = 0.25)

In [176]:
df_train.shape

(112, 6)

In [177]:
df_test.shape

(38, 6)

In [178]:
x_train = df_train.drop(columns = ["Target","Species"]).values
y_train = df_train["Target"].values
y_train

array([2, 2, 3, 1, 2, 3, 1, 1, 3, 3, 1, 2, 1, 2, 1, 3, 2, 1, 1, 1, 1, 2,
       1, 2, 1, 3, 3, 3, 3, 1, 3, 3, 2, 3, 2, 3, 3, 1, 1, 3, 3, 1, 1, 1,
       1, 1, 2, 3, 3, 3, 1, 3, 1, 1, 3, 3, 3, 3, 2, 2, 3, 1, 2, 1, 3, 1,
       3, 1, 2, 2, 1, 2, 2, 3, 3, 1, 2, 1, 2, 1, 3, 3, 2, 3, 2, 1, 2, 3,
       2, 1, 2, 2, 2, 3, 2, 2, 1, 1, 3, 2, 1, 2, 3, 1, 3, 3, 2, 2, 1, 2,
       1, 3], dtype=int64)

In [188]:
x_test = df_test.drop(columns = ["Target","Species"]).values
y_test = df_test["Target"].values

In [179]:
#Manually
def single_feature_prediction(PetalLengthCm):
    if PetalLengthCm < 2.5:
        return 1
    elif PetalLengthCm < 4.0:
        return 2
    else:
        return 3

In [181]:
manual_y_predictions = np.array([single_feature_prediction(val) for val in x_train[:,2]])

In [182]:
manual_y_predictions == y_train

array([False, False,  True,  True, False,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False, False, False,  True, False, False,  True,  True,  True,
       False,  True, False,  True,  True,  True,  True, False, False,
        True, False,  True,  True])

In [183]:
#Accuracy
np.mean(manual_y_predictions == y_train)

0.7589285714285714

In [200]:
#Using Decision Tree 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

In [191]:
model = DecisionTreeClassifier()

In [192]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [193]:
y_pred = model.predict(x_test)

In [199]:
#Accuracy
np.mean(y_pred == y_test)

1.0

In [198]:
report = classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        11
           2       1.00      1.00      1.00        16
           3       1.00      1.00      1.00        11

    accuracy                           1.00        38
   macro avg       1.00      1.00      1.00        38
weighted avg       1.00      1.00      1.00        38